$small: 450px;
$medium: 900px;
.contact-container {
  overflow: hidden;
  background-color: var(--themeColor);
  color: var(--themeColor);
  font-family: "Josefin Sans";
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  .contact-chat-container {
    text-align: center;
    padding-bottom: 20px;
    h1 {
      animation: bounce 2s ease infinite;
      color: black;
      @media screen and (max-width: $small) {
        font-size: 16pt;
      }
    }
    button.contact-chat-connect {
      background-color: transparent;
      border: solid 1px var(--themeTextDarkS2);
      color: var(--themeTextDarkS2);
      font-weight: bold;
      width: 150px;
      height: 35px;
      cursor: pointer;
      transition: ease-in 0.2s;
      &:hover {
        background-color: var(--themeTextDarkS2);
        color: white;
      }
    }
    .contact-chat-form {
      margin: 10px;
      display: flex;
      flex-direction: column;
      input {
        display: block;
        height: 40px;
        width: 250px;
        background-color: transparent;
        border: solid 1px rgba(20, 20, 20, 0.5);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        color: var(--themeTextDarkS2);
        font-size: 1rem;
        &:focus {
          outline: black;
        }
      }
    }
    .contact-conv {
      transition: ease-in-out 0.3s;
      overflow-y: scroll;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      scrollbar-width: none;
      display: flex;
      flex-direction: column;
      p {
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
      }
      .contact-conv-me,
      .contact-conv-them {
        border-radius: 20px;
        height: auto;
        width: fit-content;
      }
      .contact-conv-me {
        text-align: right;
        align-self: flex-end;
        margin-left: 40%;
        p {
          background-color: rgba(0, 0, 0, 0.3);
          color:var(--themeTextDarkS2);
        }
      }
      .contact-conv-them {
        text-align: left;
        align-self: flex-start;
        margin-right: 40%;
        p {
          background-color: black;
        }
      }
    }
    .contact-conv::-webkit-scrollbar {
      display: none;
    }
    .contact-conv.visible {
      width: 40vw;
      height: 50vh;
      margin-top: 20px;
      @media screen and (max-width: $small) {
        width: 100%;
      }
    }
    .contact-conv.hidden {
      visibility: hidden;
      width: 40vw;
      height: 0;
    }
    .contact-chatbox-container {
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      transition: ease-in-out 0.2s;
    }
    .contact-chatbox-container.visible {
      visibility: visible;
      width: 100%;
    }
    .contact-chatbox-container.hidden {
      visibility: hidden;
      width: 0;
    }
    input.contact-chatbox {
      background-color: rgba(43, 43, 43, 0.08);
      padding: 10px;
      border-radius: 20px;
      width: 100%;
      border: none;
      color: var(--themeTextDarkS2);
      &:focus {
        outline: black;
      }
    }
    button.contact-send {
      height: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      img{
        height: 20px;
        width: 20px;
      }
    }
  }

  .btn-home {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 60px;
    width: 60px;
    border: solid 1px var(--themeTextDarkS2);
    border-radius: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: ease-in 0.3s;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
    cursor: pointer;
    @media screen and (max-width: $small) {
      height: 30px;
      width: 30px;
    }
    &:hover {
      background-color: var(--themeTextDarkS2);
      .btn-home-arrow {
        background-color: white;
      }
    }
    .btn-home-arrow {
      height: 15px;
      width: 15px;
      background-color: var(--themeTextDarkS2);
      clip-path: polygon(0 0, 0% 100%, 100% 46%);
      transition: ease-in 0.3s;
      transform: rotate(180deg);
      cursor: pointer;
      @media screen and (max-width: $small) {
        height: 10px;
        width: 10px;
      }
    }
  }
}
