.contact-container {
  overflow: hidden;
  background-color: var(--themeColor);
  color: var(--themeColor);
  font-family: "Josefin Sans";
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.contact-container .contact-chat-container {
  text-align: center;
  padding-bottom: 20px;
}

.contact-container .contact-chat-container h1 {
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
  color: black;
}

@media screen and (max-width: 450px) {
  .contact-container .contact-chat-container h1 {
    font-size: 16pt;
  }
}

.contact-container .contact-chat-container button.contact-chat-connect {
  background-color: transparent;
  border: solid 1px var(--themeTextDarkS2);
  color: var(--themeTextDarkS2);
  font-weight: bold;
  width: 150px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.contact-container .contact-chat-container button.contact-chat-connect:hover {
  background-color: var(--themeTextDarkS2);
  color: white;
}

.contact-container .contact-chat-container .contact-chat-form {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact-chat-container .contact-chat-form input {
  display: block;
  height: 40px;
  width: 250px;
  background-color: transparent;
  border: solid 1px rgba(20, 20, 20, 0.5);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: var(--themeTextDarkS2);
  font-size: 1rem;
}

.contact-container .contact-chat-container .contact-chat-form input:focus {
  outline: black;
}

.contact-container .contact-chat-container .contact-conv {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  overflow-y: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact-chat-container .contact-conv p {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.contact-container .contact-chat-container .contact-conv .contact-conv-me,
.contact-container .contact-chat-container .contact-conv .contact-conv-them {
  border-radius: 20px;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-container .contact-chat-container .contact-conv .contact-conv-me {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 40%;
}

.contact-container .contact-chat-container .contact-conv .contact-conv-me p {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--themeTextDarkS2);
}

.contact-container .contact-chat-container .contact-conv .contact-conv-them {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 40%;
}

.contact-container .contact-chat-container .contact-conv .contact-conv-them p {
  background-color: black;
}

.contact-container .contact-chat-container .contact-conv::-webkit-scrollbar {
  display: none;
}

.contact-container .contact-chat-container .contact-conv.visible {
  width: 40vw;
  height: 50vh;
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  .contact-container .contact-chat-container .contact-conv.visible {
    width: 100%;
  }
}

.contact-container .contact-chat-container .contact-conv.hidden {
  visibility: hidden;
  width: 40vw;
  height: 0;
}

.contact-container .contact-chat-container .contact-chatbox-container {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.contact-container .contact-chat-container .contact-chatbox-container.visible {
  visibility: visible;
  width: 100%;
}

.contact-container .contact-chat-container .contact-chatbox-container.hidden {
  visibility: hidden;
  width: 0;
}

.contact-container .contact-chat-container input.contact-chatbox {
  background-color: rgba(43, 43, 43, 0.08);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  border: none;
  color: var(--themeTextDarkS2);
}

.contact-container .contact-chat-container input.contact-chatbox:focus {
  outline: black;
}

.contact-container .contact-chat-container button.contact-send {
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contact-container .contact-chat-container button.contact-send img {
  height: 20px;
  width: 20px;
}

.contact-container .btn-home {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 60px;
  width: 60px;
  border: solid 1px var(--themeTextDarkS2);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  opacity: 0;
  -webkit-animation: fadeIn 3s ease-in forwards;
          animation: fadeIn 3s ease-in forwards;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .contact-container .btn-home {
    height: 30px;
    width: 30px;
  }
}

.contact-container .btn-home:hover {
  background-color: var(--themeTextDarkS2);
}

.contact-container .btn-home:hover .btn-home-arrow {
  background-color: white;
}

.contact-container .btn-home .btn-home-arrow {
  height: 15px;
  width: 15px;
  background-color: var(--themeTextDarkS2);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 46%);
          clip-path: polygon(0 0, 0% 100%, 100% 46%);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .contact-container .btn-home .btn-home-arrow {
    height: 10px;
    width: 10px;
  }
}
/*# sourceMappingURL=contact.css.map */