.lt-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lt-container .df-ct-wrapper {
  width: 100vw;
  height: auto;
}
/*# sourceMappingURL=default-layout.css.map */