$--mouseX: 50%;
$--mouseY: 50%;
$small: 450px;
$medium: 1244px;

.homev2-container {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: var(--themeColor);
  .hm-title {
    position: absolute;
    top: 280px;
    left: 100px;
  }
  
  .hm-name,
  .hm-job {
    position: absolute;
    left: 15vw;
    text-transform: lowercase;
    color: var(--themeTextDarkS2);
    font-size: 14pt;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
  }
  .hm-name {
    writing-mode: sideways-lr;
    top: 100px;
    animation: fadeInDown 3s forwards;
  }
  .hm-job {
    writing-mode: vertical-lr;
    bottom: 100px;
    animation: fadeInUp 3s forwards;
  }
  .hm-pic {
    position: absolute;
    right: 15vw;
    top: 130px;
    height: 35vw;
    width: 20vw;
    z-index: 1;
    // opacity: 0;
    // // animation: tvOn 3s alternate forwards;
    // background-image: url("../../../images/graypt.svg");
    // background-size: cover;
    // background-repeat: no-repeat;
  }
  .hm-rect-1 {
    position: absolute;
    bottom: 100px;
    right: 10vw;
    height: 75vh;
    width: 50vh;
    background-color: rgb(58, 58, 58);
    opacity: 0.8;
    transition: all 1s ease;
    animation: movingBar 3s forwards;
  }
  .hm-biography {
    position: absolute;
    bottom: -10vh;
    right: 5vw;
    // height: 50vh;
    width: 50vh;
    color: var(--themeTextDarkS1);
    opacity: 1;
    letter-spacing: 0.1rem;
    transition: all 1s ease;
    animation: movingBar 4s forwards;
    @media screen and (max-width: $medium) {
      bottom: -45vh;
      font-size: 0.9rem;
      width: 50vw;
    }
  }
  .hm-rect-2 {
    position: absolute;
    top: 100px;
    right: 15vw;
    height: 60vh;
    width: 43vh;
    border-left: solid 1px #ffb3003a;
    border-top: solid 1px #ffb3003a;
    animation: movingBar 3s forwards;
  }
  .hm-hline-1,
  .hm-hline-2,
  .hm-vline-3,
  .hm-vline-4 {
    opacity: 0.5;
    border: solid 1px #a07000 !important;
  }

  .hm-hline-1 {
    position: absolute;
    top: 44vh;
    height: 0;
    width: 80px;
    border: solid 1px var(--themeColor);
    animation: movingLineX 2s alternate infinite;
  }
  .hm-hline-2 {
    position: absolute;
    bottom: 27vh;
    right: 0;
    height: 0;
    width: 200px;
    border: solid 1px var(--themeColor);
    @media screen and (max-width: $medium) {
      bottom: 40vh;
      animation: slideInRight 3s alternate;
    }
  }

  .hm-vline-3 {
    width: 0;
    border: solid 1px var(--themeColor);
    position: absolute;
    left: 17vw;
    bottom: 0;
    height: 0px;
    animation: movingLineY 3s alternate infinite;
    @media screen and (max-width: $medium) {
      visibility: hidden;
    }
  }
  .hm-vline-4 {
    width: 0;
    height: 250px;
    border: solid 1px var(--themeColor);
    position: absolute;
    right: 40vw;
    @media screen and (max-width: $medium) {
      // visibility: hidden;
      animation: slideInDown 3s alternate;
    }
  }
  .hm-calendar {
    position: absolute;
    top: 50px;
    height: 80px;
    width: 80px;
    border: solid 1px rgba(255, 255, 255, 0.637);
    border-left: none !important;
    height: 80px;
    width: 80px;
    display: block;
    &:hover {
      .hm-book {
        bottom: 0;
        height: 100%;
      }
    }
    @media screen and (max-width: $small) {
      height: 50px;
      width: 50px;
    }
  }

  .hm-date,
  .hm-book {
    border: none;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
  }

  .hm-book {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    font-size: 14pt;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    color: white;
    padding-left: 10px;
    @media screen and (max-width: $small) {
      font-size: 10pt;
    }
  }

  .hm-date {
    width: 100%;
    height: 100%;
    background-color: none;
    font-size: 24pt;
    color: white;
    @media screen and (max-width: $small) {
      font-size: 18pt;
    }
  }

  .hm-cta {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 52vh;
    left: 45vw;
    cursor: pointer;
    transition: all 0.6s ease;
    opacity: 0;
    animation: fadeIn 2s forwards 4s;
    &:hover {
      border-bottom: solid 1px white;
    }
  }
}

@keyframes movingBar {
  0% {
    height: 0;
  }
  100% {
    height: 75vh;
  }
}

@keyframes movingLineX {
  0% {
    width: 0vw;
  }
  100% {
    width: 80px;
  }
}

@keyframes movingLineY {
  0% {
    height: 0vh;
    transform: translateY(0%);
  }
  100% {
    height: 25vh;
    transform: translateY(-100%);
  }
}

@keyframes homeFadeEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
