.homev2-container {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: var(--themeColor);
}

.homev2-container .hm-title {
  position: absolute;
  top: 280px;
  left: 100px;
}

.homev2-container .hm-name,
.homev2-container .hm-job {
  position: absolute;
  left: 15vw;
  text-transform: lowercase;
  color: var(--themeTextDarkS2);
  font-size: 14pt;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.homev2-container .hm-name {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  top: 100px;
  -webkit-animation: fadeInDown 3s forwards;
          animation: fadeInDown 3s forwards;
}

.homev2-container .hm-job {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  bottom: 100px;
  -webkit-animation: fadeInUp 3s forwards;
          animation: fadeInUp 3s forwards;
}

.homev2-container .hm-pic {
  position: absolute;
  right: 15vw;
  top: 130px;
  height: 35vw;
  width: 20vw;
  z-index: 1;
}

.homev2-container .hm-rect-1 {
  position: absolute;
  bottom: 100px;
  right: 10vw;
  height: 75vh;
  width: 50vh;
  background-color: #3a3a3a;
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: movingBar 3s forwards;
          animation: movingBar 3s forwards;
}

.homev2-container .hm-biography {
  position: absolute;
  bottom: -10vh;
  right: 5vw;
  width: 50vh;
  color: var(--themeTextDarkS1);
  opacity: 1;
  letter-spacing: 0.1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: movingBar 4s forwards;
          animation: movingBar 4s forwards;
}

@media screen and (max-width: 1244px) {
  .homev2-container .hm-biography {
    bottom: -45vh;
    font-size: 0.9rem;
    width: 50vw;
  }
}

.homev2-container .hm-rect-2 {
  position: absolute;
  top: 100px;
  right: 15vw;
  height: 60vh;
  width: 43vh;
  border-left: solid 1px #ffb3003a;
  border-top: solid 1px #ffb3003a;
  -webkit-animation: movingBar 3s forwards;
          animation: movingBar 3s forwards;
}

.homev2-container .hm-hline-1,
.homev2-container .hm-hline-2,
.homev2-container .hm-vline-3,
.homev2-container .hm-vline-4 {
  opacity: 0.5;
  border: solid 1px #a07000 !important;
}

.homev2-container .hm-hline-1 {
  position: absolute;
  top: 44vh;
  height: 0;
  width: 80px;
  border: solid 1px var(--themeColor);
  -webkit-animation: movingLineX 2s alternate infinite;
          animation: movingLineX 2s alternate infinite;
}

.homev2-container .hm-hline-2 {
  position: absolute;
  bottom: 27vh;
  right: 0;
  height: 0;
  width: 200px;
  border: solid 1px var(--themeColor);
}

@media screen and (max-width: 1244px) {
  .homev2-container .hm-hline-2 {
    bottom: 40vh;
    -webkit-animation: slideInRight 3s alternate;
            animation: slideInRight 3s alternate;
  }
}

.homev2-container .hm-vline-3 {
  width: 0;
  border: solid 1px var(--themeColor);
  position: absolute;
  left: 17vw;
  bottom: 0;
  height: 0px;
  -webkit-animation: movingLineY 3s alternate infinite;
          animation: movingLineY 3s alternate infinite;
}

@media screen and (max-width: 1244px) {
  .homev2-container .hm-vline-3 {
    visibility: hidden;
  }
}

.homev2-container .hm-vline-4 {
  width: 0;
  height: 250px;
  border: solid 1px var(--themeColor);
  position: absolute;
  right: 40vw;
}

@media screen and (max-width: 1244px) {
  .homev2-container .hm-vline-4 {
    -webkit-animation: slideInDown 3s alternate;
            animation: slideInDown 3s alternate;
  }
}

.homev2-container .hm-calendar {
  position: absolute;
  top: 50px;
  height: 80px;
  width: 80px;
  border: solid 1px rgba(255, 255, 255, 0.637);
  border-left: none !important;
  height: 80px;
  width: 80px;
  display: block;
}

.homev2-container .hm-calendar:hover .hm-book {
  bottom: 0;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .homev2-container .hm-calendar {
    height: 50px;
    width: 50px;
  }
}

.homev2-container .hm-date,
.homev2-container .hm-book {
  border: none;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.homev2-container .hm-book {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  font-size: 14pt;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: white;
  padding-left: 10px;
}

@media screen and (max-width: 450px) {
  .homev2-container .hm-book {
    font-size: 10pt;
  }
}

.homev2-container .hm-date {
  width: 100%;
  height: 100%;
  background-color: none;
  font-size: 24pt;
  color: white;
}

@media screen and (max-width: 450px) {
  .homev2-container .hm-date {
    font-size: 18pt;
  }
}

.homev2-container .hm-cta {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 14pt;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 52vh;
  left: 45vw;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  -webkit-animation: fadeIn 2s forwards 4s;
          animation: fadeIn 2s forwards 4s;
}

.homev2-container .hm-cta:hover {
  border-bottom: solid 1px white;
}

@-webkit-keyframes movingBar {
  0% {
    height: 0;
  }
  100% {
    height: 75vh;
  }
}

@keyframes movingBar {
  0% {
    height: 0;
  }
  100% {
    height: 75vh;
  }
}

@-webkit-keyframes movingLineX {
  0% {
    width: 0vw;
  }
  100% {
    width: 80px;
  }
}

@keyframes movingLineX {
  0% {
    width: 0vw;
  }
  100% {
    width: 80px;
  }
}

@-webkit-keyframes movingLineY {
  0% {
    height: 0vh;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    height: 25vh;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes movingLineY {
  0% {
    height: 0vh;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    height: 25vh;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes homeFadeEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes homeFadeEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=homev2.css.map */