.home-container {
  overflow: hidden;
  min-height: 100vh;
  background-color: black;
}

.home-container .hm-bg {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-image: url("../../../images/portraitBg@2x.jpg");
  background-size: cover;
  background-position: var(--mouseX) var(--mouseY);
  opacity: 0.09;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.home-container .hm-title {
  position: absolute;
  top: 280px;
  left: 100px;
  text-transform: lowercase;
  color: var(--themeColor);
  font-size: 42pt;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.home-container .hm-name,
.home-container .hm-job {
  position: absolute;
  left: 15vw;
  text-transform: lowercase;
  color: whitesmoke;
  font-size: 12pt;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.home-container .hm-name {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  top: 100px;
  -webkit-animation: fadeInDown 3s forwards;
          animation: fadeInDown 3s forwards;
}

.home-container .hm-job {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  bottom: 100px;
  -webkit-animation: fadeInUp 3s forwards;
          animation: fadeInUp 3s forwards;
}

.home-container .hm-pic {
  position: absolute;
  right: 15vw;
  top: 130px;
  height: 35vw;
  width: 20vw;
  z-index: 1;
  opacity: 0;
  -webkit-animation: tvOn 3s alternate forwards;
          animation: tvOn 3s alternate forwards;
  background-image: url("../../../images/portrait@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container .hm-rect-1 {
  position: absolute;
  bottom: 0;
  right: 9vw;
  height: 65vh;
  width: 43vh;
  background-color: white;
  opacity: 0.05;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: movingBar 3s forwards;
          animation: movingBar 3s forwards;
}

.home-container .hm-rect-2 {
  position: absolute;
  top: 100px;
  right: 15vw;
  height: 60vh;
  width: 43vh;
  border-left: solid 1px #ffb3003a;
  border-top: solid 1px #ffb3003a;
  -webkit-animation: movingBar 3s forwards;
          animation: movingBar 3s forwards;
}

.home-container .hm-hline-1 {
  position: absolute;
  top: 48vh;
  height: 0;
  width: 250px;
  border: solid 1px var(--themeColor);
  opacity: 0.2;
  -webkit-animation: movingLineX 5s alternate infinite;
          animation: movingLineX 5s alternate infinite;
}

.home-container .hm-hline-2 {
  position: absolute;
  bottom: 27vh;
  right: 0;
  height: 0;
  width: 200px;
  border: solid 1px var(--themeColor);
  opacity: 0.1;
}

.home-container .hm-vline-3 {
  width: 0;
  border: solid 1px var(--themeColor);
  opacity: 0.2;
  position: absolute;
  left: 17vw;
  bottom: 0;
  height: 0px;
  -webkit-animation: movingLineY 3s alternate infinite;
          animation: movingLineY 3s alternate infinite;
}

.home-container .hm-vline-4 {
  width: 0;
  height: 250px;
  border: solid 1px var(--themeColor);
  opacity: 0.1;
  position: absolute;
  right: 40vw;
}

@-webkit-keyframes movingBar {
  0% {
    height: 0;
  }
  100% {
    height: 65vh;
  }
}

@keyframes movingBar {
  0% {
    height: 0;
  }
  100% {
    height: 65vh;
  }
}

@-webkit-keyframes movingLineX {
  0% {
    width: 45vw;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    width: 0vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    width: 55vw;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes movingLineX {
  0% {
    width: 45vw;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    width: 0vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    width: 55vw;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes movingLineY {
  0% {
    height: 0vh;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    height: 25vh;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes movingLineY {
  0% {
    height: 0vh;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    height: 25vh;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes tvOn {
  0% {
    height: 0;
    top: 180px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  100% {
    height: 35vw;
    -webkit-filter: invert(0);
            filter: invert(0);
    opacity: 1;
  }
}

@keyframes tvOn {
  0% {
    height: 0;
    top: 180px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  100% {
    height: 35vw;
    -webkit-filter: invert(0);
            filter: invert(0);
    opacity: 1;
  }
}

@-webkit-keyframes homeFadeEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes homeFadeEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=home.css.map */