$--mouseX : 50%;
$--mouseY : 50%;

.home-container{
    overflow: hidden;
    min-height: 100vh;
    background-color: black;
    .hm-bg {
        position: absolute;
        height: 100%;
        width: 100vw;
        background-image: url('../../../images/portraitBg@2x.jpg');
        background-size: cover;
        background-position: var(--mouseX) var(--mouseY);
        opacity: 0.09;
        filter: blur(5px);
    }
    .hm-title{
        position: absolute;
        top: 280px;
        left: 100px;
        text-transform: lowercase;
        color:var(--themeColor);
        font-size: 42pt;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }
    .hm-name,
    .hm-job {
        position: absolute;
        left: 15vw;
        text-transform: lowercase;
        color:whitesmoke;
        font-size: 12pt;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        
    }
    .hm-name {
        writing-mode: sideways-lr;
        top: 100px;
        animation: fadeInDown 3s forwards;
    }
    .hm-job {
        writing-mode: vertical-lr;
        bottom: 100px;
        animation: fadeInUp 3s forwards;
    }
    .hm-pic{
        position: absolute;
        right: 15vw;
        top: 130px;
        height: 35vw;
        width: 20vw;
        z-index: 1;
        opacity: 0;
        animation: tvOn 3s alternate forwards;
        background-image: url("../../../images/portrait@2x.jpg");
        background-size: cover;
        // border-right: solid 1px #ffb3003a;
        // // border-bottom: solid 1px #ffb3003a;
        // background-position: var(--mouseX) var(--mouseY);
        background-repeat: no-repeat;

    }
    .hm-rect-1{
        position: absolute;
        bottom: 0;
        right: 9vw;
        height: 65vh;
        width: 43vh;
        background-color: rgb(255, 255, 255);
        opacity: 0.05;
        transition: all 1s ease;
        animation: movingBar 3s forwards;
    }
    .hm-rect-2{
        position: absolute;
        top: 100px;
        right: 15vw;
        height: 60vh;
        width: 43vh;
        // border: solid 1px var(--themeColor);
        // opacity: 0.2;
        border-left: solid 1px #ffb3003a;
        border-top: solid 1px #ffb3003a;
        animation: movingBar 3s forwards;
    }
    .hm-hline-1 {
        position: absolute;
        top: 48vh;
        height: 0;
        width: 250px;
        border: solid 1px var(--themeColor);
        opacity: 0.2;
        animation: movingLineX 5s alternate infinite;
    }
    .hm-hline-2 {
        position: absolute;
        bottom: 27vh;
        right:0;
        height: 0;
        width: 200px;
        border: solid 1px var(--themeColor);
        opacity: 0.1;
    }

    .hm-vline-3{
        width: 0;
        border: solid 1px var(--themeColor);
        opacity: 0.2;
        position: absolute;
        left: 17vw;
        bottom: 0;
        height: 0px;
        animation: movingLineY 3s alternate infinite;
    }
    .hm-vline-4 {
        width: 0;
        height: 250px;
        border: solid 1px var(--themeColor);
        opacity: 0.1;
        position: absolute;
        right: 40vw;
    }

}


@keyframes movingBar {
    0% {
        height: 0;
    }
    100% {
        height: 65vh;
    }
}


@keyframes movingLineX {
    0% {
        width: 45vw;
        transform: translateX(-100%);
    }
    50% {
        width: 0vw;
        transform: translateX(-50%);
    }
    100% {
        width: 55vw;
        transform: translateX(0%);
    }
}

@keyframes movingLineY {
    0% {
        height: 0vh;
        transform: translateY(0%);
    }
    100% {
        height: 25vh;
        transform: translateY(-100%);
    }
}

@keyframes tvOn {
    0% {
        height: 0;
        top: 180px;
        filter: invert(100%);
    }

    100% {
        height: 35vw;
        filter: invert(0);
        opacity: 1;
    }
}

@keyframes homeFadeEntrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}