@-webkit-keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
              transform: rotate3d(-1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  @keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
              transform: rotate3d(-1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }