.hd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 100;
}

.hd-container .hd-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Amiko", "Sen", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .hd-container .hd-title {
    font-size: 18pt;
  }
}

.hd-container .hd-title span {
  padding-top: 10px;
  -webkit-animation: slideInDown 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: slideInDown 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hd-container .hd-title .blocktrait {
  width: 6rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: var(--themeColor);
  margin-right: 1rem;
  -webkit-animation: fadeInLeft 2s forwards ease 0.5s;
          animation: fadeInLeft 2s forwards ease 0.5s;
}

.hd-container .btn-burger {
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 3rem;
  top: 2.7rem;
  cursor: pointer;
  -webkit-animation: fadeInDown 2s forwards;
          animation: fadeInDown 2s forwards;
}

@media screen and (max-width: 450px) {
  .hd-container .btn-burger {
    right: 20px;
  }
}

.hd-container .btn-burger div {
  height: 3px;
  width: 25px;
  background-color: var(--themeTextDark);
  margin: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hd-container .burger2 {
  width: 20px !important;
}

.hd-container .burger1.burger-on {
  -webkit-transform: rotate(-45deg) translate(-5px, 7px);
          transform: rotate(-45deg) translate(-5px, 7px);
  background-color: var(--themeColor);
}

.hd-container .burger2.burger-on {
  opacity: 0;
}

.hd-container .burger3.burger-on {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
  background-color: var(--themeColor);
}

.hd-container .nav {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #111111;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hd-container .nav-collapsed {
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.hd-container .nav-visible {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  border-radius: 0px;
}
/*# sourceMappingURL=default-header.css.map */