$small: 450px;
$medium: 900px;

$defaultBg : white;
$defaultWatermarkCl : #eeeeee;
$defaultTitleCl : #202020; 
$rightMargin : 3rem;
$topMargin : 2rem;

.hd-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    .hd-title {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        text-transform: capitalize;
        position: relative;
        top:$topMargin;
        font-size: 2rem;
        font-weight: 400;
        font-family: "Amiko", "Sen", sans-serif;
        @media screen and (max-width: $small) {
            font-size: 18pt;
        }
        span {
            padding-top: 10px;
            animation: slideInDown 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        cursor: pointer;

        .blocktrait {
            width: 6rem;
            transform: translateX(-100%);
            background-color: var(--themeColor);
            margin-right: 1rem;
            animation: fadeInLeft 2s forwards ease 0.5s;
        }

    }
    .btn-burger {
        z-index: 101;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: $rightMargin;
        top: $topMargin + 0.7rem;
        cursor: pointer;
        animation: fadeInDown 2s forwards;
        @media screen and (max-width: $small) {
            right: 20px;
        }
    }
    .btn-burger div {
        height : 3px;
        width: 25px;
        background-color: var(--themeTextDark);
        margin : 3px;
        transition: all 0.5s ease;
    }
    .burger2 {
        width: 20px !important;
    }

    .burger1.burger-on  {
        transform: rotate(-45deg) translate(-5px, 7px);
        background-color: var(--themeColor);
    }
    .burger2.burger-on {
        opacity: 0;
    }
    .burger3.burger-on {
        transform: rotate(45deg) translate(-5px, -7px);
        background-color:  var(--themeColor);
    }
    
    .nav {
        position: absolute;
        top:0;
        height: 100vh;
        width: 100%;
        // background-color: var(--themeColor2);
        background-color: rgb(17, 17, 17);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-collapsed {
        opacity: 0;
        transform : translate(0%, -100%);
        // border-radius: 500px;
    }

    .nav-visible{
        opacity: 1;
        transform : translate(0%,0%);
        border-radius: 0px;
    }
}

