.projects-container {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects-container .pr-bg-left {
  width: 30%;
  opacity: 0;
  background-color: transparent;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideInLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.projects-container .pr-bg-right {
  width: 70%;
  background-color: var(--themeColor);
  -webkit-animation: slideInRight 3s ease forwards;
          animation: slideInRight 3s ease forwards;
}

.projects-container .pr-item-container {
  position: absolute;
  top: 15%;
  height: auto;
  width: 75%;
  padding: 3rem 4rem 4rem 7rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: slideInUp 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideInUp 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@media screen and (max-width: 900px) {
  .projects-container .pr-item-container {
    padding: 3rem 2rem 4rem 2rem;
  }
}

.projects-container .pr-item-container h1 {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  word-wrap: wrap break-word;
  color: var(--themeTextDarkS1);
  -webkit-animation: fadeInUp 2s ease forwards;
          animation: fadeInUp 2s ease forwards;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container h1 {
    font-size: 26pt;
  }
}

.projects-container .pr-item-container h3 {
  font-family: "Amiko", "Poppins",sans-serif;
  letter-spacing: 2px;
  color: var(--themeTextDarkS1);
  -webkit-animation: fadeInUp 2s ease forwards;
          animation: fadeInUp 2s ease forwards;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container h3 {
    font-size: 12pt;
    font-weight: 400;
  }
}

.projects-container .pr-item-container .pr-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .pr-item-container .pr-p {
  opacity: 0;
  margin-right: 120px;
  margin-bottom: 50px;
  width: 30%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 900px) {
  .projects-container .pr-item-container .pr-p {
    width: 100%;
    margin-right: 0;
  }
}

.projects-container .pr-item-container .pr-p .pr-p-title {
  color: var(--themeTextDarkS1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects-container .pr-item-container .pr-p .pr-p-title .pr-p-title-trait {
  height: 45px;
  width: 5px;
  background-color: var(--themeColor);
  margin-right: 15px;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container .pr-p .pr-p-title .pr-p-title-trait {
    height: 35px;
  }
}

.projects-container .pr-item-container .pr-p .pr-p-title h2 {
  font-family: "Lato", "Poppins",sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-wrap: wrap break-word;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container .pr-p .pr-p-title h2 {
    font-size: 12pt;
  }
}

.projects-container .pr-item-container .pr-p p {
  font-family: "Segoe UI", "Poppins",sans-serif;
  color: var(--themeTextDark);
  word-wrap: wrap break-word;
  line-height: 20pt;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container .pr-p p {
    font-size: 11pt;
  }
}

.projects-container .pr-item-container .pr-visit {
  height: 80px;
  width: 80px;
  background-color: white;
  border: solid 1px var(--themeColor);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
  opacity: 0;
  -webkit-animation: fadeIn 7s ease-in forwards;
          animation: fadeIn 7s ease-in forwards;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container .pr-visit {
    height: 50px;
    width: 50px;
  }
}

.projects-container .pr-item-container .pr-visit:hover {
  background-color: var(--themeColor);
}

.projects-container .pr-item-container .pr-visit:hover .pr-visit-arrow {
  background-color: white;
}

.projects-container .pr-item-container .pr-visit .pr-visit-arrow {
  height: 25px;
  width: 25px;
  background-color: var(--themeColor);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 46%);
          clip-path: polygon(0 0, 0% 100%, 100% 46%);
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-item-container .pr-visit .pr-visit-arrow {
    height: 15px;
    width: 15px;
  }
}

.projects-container .pr-navigation-next {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 50%;
  width: 12%;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-animation: fadeInRight 1s ease forwards;
          animation: fadeInRight 1s ease forwards;
}

@media screen and (max-width: 900px) {
  .projects-container .pr-navigation-next {
    padding-right: 15px;
  }
}

.projects-container .pr-navigation-next:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.projects-container .pr-navigation-next:hover .pr-nav-next-text span {
  letter-spacing: 4px;
}

.projects-container .pr-navigation-next .pr-nav-next-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-container .pr-navigation-next .pr-nav-next-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: var(--themeTextLight);
  opacity: 0.7;
  font-family: "Amiko", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects-container .pr-navigation-next .pr-btn-next {
  margin-top: 2rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media screen and (max-width: 450px) {
  .projects-container .pr-navigation-next .pr-btn-next {
    margin-top: 2rem;
  }
}

.projects-container .pr-navigation-next .pr-btn-next img {
  opacity: 0.5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .projects-container .pr-navigation-next .pr-btn-next img {
    width: 30px;
  }
}

.projects-container .pr-navigation-next .pr-btn-next:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.projects-container .pr-navigation {
  width: auto;
  position: absolute;
  right: 20%;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 150px;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .projects-container .pr-navigation {
    position: absolute;
    right: 3rem;
    top: 70px;
  }
}

@media screen and (max-width: 450px) {
  .projects-container .pr-navigation {
    position: absolute;
    right: 1rem;
    top: 50px;
    height: 100px;
  }
}

.projects-container .pr-link {
  width: 15px;
  height: 15px;
  margin-bottom: 4rem;
  border-radius: 100px;
  border: solid 2px rgba(255, 255, 255, 0.507);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: zoomIn 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: zoomIn 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.projects-container .pr-link .link-dot {
  width: 1px;
  height: 1px;
  margin: 0;
  border-radius: 100px;
  border: solid 2px rgba(255, 255, 255, 0.623);
  background-color: solid 2px white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.projects-container .pr-link:hover {
  width: 25px;
  height: 25px;
  border: solid 2px rgba(255, 255, 255, 0.705);
}

@media screen and (max-width: 450px) {
  .projects-container .pr-link:hover {
    width: 20px;
    height: 20px;
  }
}

.projects-container .pr-link-active {
  width: 25px;
  height: 25px;
  border: solid 2px rgba(255, 255, 255, 0.705);
}

@media screen and (max-width: 450px) {
  .projects-container .pr-link-active {
    width: 20px;
    height: 20px;
  }
}

.anim-p {
  -webkit-animation: fadeInUp 3s ease forwards;
          animation: fadeInUp 3s ease forwards;
}

.flash {
  -webkit-animation: flashColor 3s ease alternate;
          animation: flashColor 3s ease alternate;
}

@-webkit-keyframes flashColor {
  0% {
    background-color: rgba(0, 0, 0, 0.363);
  }
  50% {
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
  }
  100% {
    background-color: transparent;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes flashColor {
  0% {
    background-color: rgba(0, 0, 0, 0.363);
  }
  50% {
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
  }
  100% {
    background-color: transparent;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes fadeSlowDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeSlowDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=featured-projects.css.map */