$small: 450px;
$medium: 900px;


.projects-container {
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    top:10vh;
    display: flex;
    flex-direction: row;
    .pr-bg-left{
        width: 30%;
        opacity: 0;
        background-color: transparent;
        animation: slideInLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }

    .pr-bg-right {
        width: 70%;
        background-color: var(--themeColor);
        animation: slideInRight 3s ease forwards;
    }
    .pr-item-container {
        position: absolute;
        top:15%;
        height: auto;
        width: 75%;
        padding: 3rem 4rem 4rem 7rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        animation: slideInUp 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

        @media screen and (max-width: $medium) {
            padding: 3rem 2rem 4rem 2rem;
        }
        h1 {
            font-size: 4rem;
            font-family: "Lato", sans-serif;
            font-weight: 500;
            letter-spacing: 2px;
            word-wrap: wrap break-word;
            color: var(--themeTextDarkS1);
            animation: fadeInUp 2s ease forwards;
            @media screen and (max-width: $small) {
                font-size: 26pt;
            }
        }
        h3 {
            font-family: "Amiko", "Poppins",sans-serif;
            letter-spacing: 2px;
            color: var(--themeTextDarkS1);
            animation: fadeInUp 2s ease forwards;
            @media screen and (max-width: $small) {
                font-size: 12pt;
                font-weight: 400;
            }
        }
        .pr-content-container {
            display: flex;
            align-items: flex-start;
            justify-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .pr-p {
            opacity: 0;
            margin-right: 120px;
            margin-bottom: 50px;
            width: 30%;
            transition: all 1s ease;
            @media screen and (max-width: $medium) {
                width: 100%;
                margin-right: 0;
            }
            
            .pr-p-title{
                color: var(--themeTextDarkS1);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .pr-p-title-trait{
                    height: 45px;
                    width: 5px;
                    background-color: var(--themeColor);
                    margin-right: 15px;
                    @media screen and (max-width: $small) {
                        height: 35px;
                    }
                }   

                h2 {
                    font-family: "Lato", "Poppins",sans-serif;
                    font-weight: 700;
                    font-style: bold;
                    font-size: 1.3rem;
                    letter-spacing: 2px;
                    word-wrap: wrap break-word;
                    @media screen and (max-width: $small) {
                        font-size: 12pt;
                    }
                }
            }

            p{
                font-family: "Segoe UI", "Poppins",sans-serif;
                color: var(--themeTextDark);
                word-wrap: wrap break-word;
                line-height: 20pt;
                @media screen and (max-width: $small) {
                    font-size: 11pt;
                }
            }

        }
        .pr-visit {
            height: 80px;
            width: 80px;
            background-color: white;
            border: solid 1px var(--themeColor);
            border-radius: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            transition: ease-in .3s;
            opacity: 0;
            animation: fadeIn 7s ease-in forwards;
            @media screen and (max-width: $small) {
                height:50px;
                width: 50px;          
            }
            &:hover{
                background-color:  var(--themeColor);
                .pr-visit-arrow {
                    background-color: white;
                }
            }
            .pr-visit-arrow {
                height: 25px;
                width: 25px;
                background-color: var(--themeColor);
                clip-path: polygon(0 0, 0% 100%, 100% 46%);  
                transition: ease-in .3s;
                @media screen and (max-width: $small) {
                    height:15px;
                    width: 15px;          
                }
            }
        }
        
    }

    .pr-navigation-next {
        position: absolute;
        top: 50%;
        right: 0px;
        height:50%;
        width: 12%;
        border-top: solid 1px rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        cursor: pointer;
        transition: all 0.6s ease;
        animation: fadeInRight 1s ease forwards;
        @media screen and (max-width: $medium) {
            padding-right: 15px;
        }
        &:hover{
            // animation: flashColor 1s ease forwards;
            filter: invert(100%);
            .pr-nav-next-text span{
                letter-spacing: 4px;
            }
            
        }
        .pr-nav-next-text {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            span {
                writing-mode: vertical-lr;
                color: var(--themeTextLight);
                opacity: 0.7;
                font-family: "Amiko", sans-serif;
                font-size: 1rem;
                letter-spacing: 2px;
                word-spacing: 0.2rem;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.6s ease;
            }
        }
        
        .pr-btn-next{
            margin-top: 2rem;
            transition: all 0.6s ease;
            @media screen and (max-width: $small) {
                margin-top: 2rem;
            }
            img{
                opacity: 0.5;
                transform: rotate(90deg);
                width: 50px;
                cursor: pointer;
                @media screen and (max-width: $medium) {
                    width: 30px;
                }
            }
            &:hover{
                transform: translateY(20px);
            }
        }
    }

    .pr-navigation {
        width: auto;
        position: absolute;
        right:20%;
        top: 40%;
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 25px;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $medium) {
            position: absolute;
            right: 3rem;
            top: 70px;
        }
        @media screen and (max-width: $small) {
            position: absolute;
            right: 1rem;
            top: 50px;
            height: 100px;
        }
    }
    .pr-link {
        width: 15px;
        height: 15px;
        margin-bottom: 4rem;
        border-radius: 100px;
        border: solid 2px rgba(255, 255, 255, 0.507) ;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select:none;
        transition: all 0.3s linear;
        animation: zoomIn 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        
        .link-dot {
            width: 1px;
            height: 1px;
            margin: 0;
            border-radius: 100px;
            border: solid 2px rgba(255, 255, 255, 0.623) ;
            background-color: solid 2px rgb(255, 255, 255) ;
            user-select:none;
        }

        &:hover{
            width: 25px;
            height: 25px;
            border: solid 2px rgba(255, 255, 255, 0.705) ;
            @media screen and (max-width: $small) {
                width: 20px;
                height: 20px;
            }
        }
    }
    .pr-link-active {
        width: 25px;
        height: 25px;
        border: solid 2px rgba(255, 255, 255, 0.705) ;
        @media screen and (max-width: $small) {
            width: 20px;
            height: 20px;
        }
    }
    
}
.anim-p {
    animation: fadeInUp 3s ease forwards;
}

.flash {
    animation: flashColor 3s ease alternate;
}

@keyframes flashColor {
    0% {
        background-color: rgba(0, 0, 0, 0.363);
    }

    50% {
        filter: brightness(0.2);
    }

    100%{
        background-color: transparent;
        filter: brightness(1);
    }
}
@keyframes fadeSlowDown {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}