.navigation-container {
  height: 100%;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navigation-container .myname-container {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 6rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .navigation-container .myname-container {
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-align: left;
    margin-left: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .navigation-container .myname-container {
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-align: left;
    margin-left: 6rem;
  }
}

.navigation-container .myname-container .myname {
  opacity: 0;
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--themeColor);
}

@media screen and (max-width: 450px) {
  .navigation-container .myname-container .myname {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .navigation-container .myname-container .myname {
    font-size: 4rem;
  }
}

.navigation-container .myname-container .job-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 450px) {
  .navigation-container .myname-container .job-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (max-width: 900px) {
  .navigation-container .myname-container .job-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.navigation-container .myname-container .job-container .job-trait {
  opacity: 0;
  width: 45px;
  height: 3px;
  margin-right: 10px;
  background-color: var(--themeColor);
}

@media screen and (max-width: 450px) {
  .navigation-container .myname-container .job-container .job-trait {
    width: 30px;
  }
}

.navigation-container .myname-container .job-container .job-title {
  opacity: 0;
  color: var(--themeTextLight);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 450px) {
  .navigation-container .myname-container .job-container .job-title {
    font-size: 0.8rem;
  }
}

.navigation-container .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--themeTextLight);
  padding-bottom: 5%;
}

@media screen and (max-width: 450px) {
  .navigation-container .nav-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .navigation-container .nav-content {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navigation-container .nav-content .nav-item-container {
  margin: 3rem;
  cursor: pointer;
}

.navigation-container .nav-content .nav-item-container .nav-sm-title {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.navigation-container .nav-content .nav-item-container .nav-sm-title .sm-title {
  opacity: 0.7;
  font-family: "Josefin Sans", sans-serif;
  font-style: "Regular Roman";
}

.navigation-container .nav-content .nav-item-container .nav-sm-title .sm-trait {
  width: 45px;
  height: 3px;
  margin-right: 10px;
  background-color: var(--themeColor);
}

.navigation-container .nav-content .nav-item-container .nav-main-title {
  opacity: 0;
}

.navigation-container .nav-content .nav-item-container .nav-main-title .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navigation-container .nav-content .nav-item-container .nav-main-title .main-title:hover {
  letter-spacing: 5px;
  color: var(--themeColor);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navigation-container .nav-content .nav-item-container .nav-main-title .main-title .nav-link-active {
  color: var(--themeColor);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.anim {
  -webkit-animation: fadeInUp 1s forwards;
          animation: fadeInUp 1s forwards;
}

.anim-name {
  -webkit-animation: fadeInDown 1s forwards;
          animation: fadeInDown 1s forwards;
}
/*# sourceMappingURL=navigation.css.map */