$small: 450px;
$medium: 900px;


.navigation-container {
    height: 100%;
    width: 100vw;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    .myname-container {
        width: 100%;
        margin-top: 8rem;
        margin-bottom: 6rem;
        text-align: center;
        @media screen and (max-width: $small) {
            margin-top: 8rem;
            margin-bottom: 3rem;
            text-align: left;
            margin-left: 6rem;
        }
        @media screen and (max-width: $medium) {
            margin-top: 8rem;
            margin-bottom: 3rem;
            text-align: left;
            margin-left: 6rem;
        }
        .myname {
            opacity: 0;
            font-size: 6rem;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: var(--themeColor);
            @media screen and (max-width: $small) {
                font-size: 3rem;
            }
            @media screen and (max-width: $medium) {
                font-size: 4rem;
            }
        }

        .job-container {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            @media screen and (max-width: $small) {
                justify-content: left;
            }
            @media screen and (max-width: $medium) {
                justify-content: left;
            }
            .job-trait {
                opacity: 0;
                width: 45px;
                height: 3px;
                margin-right: 10px;
                background-color: var(--themeColor);
                @media screen and (max-width: $small) {
                    width: 30px;
                }
                
            }

            .job-title {
                opacity: 0;
                color: var(--themeTextLight);
                // opacity: 0.8;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-family: "Jost", sans-serif;
                font-weight: 700;
                letter-spacing: 0.2rem;
                @media screen and (max-width: $small) {
                   font-size: 0.8rem;
                }
            }
        }
    }

    .nav-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: var(--themeTextLight);
        padding-bottom: 5%;
        @media screen and (max-width: $small) {
            // width: 100vw;
            flex-direction: column;
        }
        @media screen and (max-width: $medium) {
            width: 100vw;
            flex-direction: column;
        }
        .nav-item-container {
            margin: 3rem;
            cursor: pointer;

            .nav-sm-title{
                opacity: 0;
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                .sm-title {
                    opacity: 0.7;
                    font-family: "Josefin Sans", sans-serif;
                    font-style: "Regular Roman";
                }
                .sm-trait {
                    width: 45px;
                    height: 3px;
                    margin-right: 10px;
                    background-color: var(--themeColor);
                }
            }
            .nav-main-title{
                opacity: 0;
                .main-title {
                    font-family: "Poppins", sans-serif;
                    font-size: 1.7rem;
                    letter-spacing: 0.1rem;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover {
                        letter-spacing: 5px;
                        color: var(--themeColor);
                        transition: all 1s ease;

                    }
                    .nav-link-active {
                            color: var(--themeColor);
                            transition: all 1s ease;
                    }
                }
            }
        }
    }

}

.anim{
    animation: fadeInUp 1s forwards;
}

.anim-name {
    animation: fadeInDown 1s forwards;
}

