@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');


:root {
  --themeColor : #FFB300;
  --themeColor2 : #503ADA;
  --themeTextLight : rgb(238, 238, 238);
  --themeTextDark : #707070;
  --themeTextDarkS1:  rgb(68, 68, 68);
  --themeTextDarkS2:  rgb(15, 15, 15);
}

* {
  box-sizing: border-box;
}

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height:100%;
}
body.modal-open {
  overflow-y: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}


.out-of-focus {
  filter: blur(5px);
}

#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  position: fixed;
  border-radius: 4px;
  z-index: 2000;
  pointer-events: none;
  transition: border-color 0.5s;
}

#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 15px;
  border: 2px solid var(--themeColor);
  position: fixed;
  border-radius: 100px;
  z-index: 2000;
  pointer-events: none;
  /* filter: blur(1px); */
}
/* 
*{
  cursor: none !important;
} */
.splashScreen {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100vw;
  background-color: black;
  z-index: 200;
  overflow: hidden;
  text-align: center;
  transition: all 0.6s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splashHidden {
  opacity: 0;
  z-index: -100;
  transition: all 0.6s ease-out;
}




@keyframes brushStroke {
  /* from {
    filter: saturate(0);
  } */
  to {
    stroke-dashoffset: 0;
    /* filter: saturate(100%); */
  }
}
@keyframes fillLogo {
  from {
    fill : transparent;
  }
  to {
    fill : #FFB300;
  }
}

@keyframes splashIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splashFadeIn{
  opacity: 0;
  animation: splashIn 1s ease forwards;
}
