.portrait-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vw;
  width: 25vw;
}
/*# sourceMappingURL=portrait.css.map */