$small: 450px;
$medium: 900px;

.compatibility-toggle {
    position: absolute;
    top:20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    text-align: center;
    font-family: "Jost", sans-serif;
    margin: 2rem;
    color:var(--themeTextDark);
    animation : fadeIn 2s forwards;
    @media screen and (max-width: $small) {
        visibility: visible;
    }
    img {
        margin-top: 20px;
        width: 300px;
        height: 300px;
    }
}

.skills-container {
    height: 100vh;
    margin-top: 8%;
    position: relative;
    visibility: visible;
    overflow-x: hidden;
    @media screen and (max-width: $small) {
        visibility: hidden;
    }
    @media screen and (max-width: $medium) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: auto;
        padding-top: 20px;
    }
    
    .sk-left {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transition: all 0.5s ease;
        @media screen and (max-width: $medium) {
            position: relative;
            flex-direction: row;
            width: 100vw;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .sk-flyout {
            left: 20%;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center;
            height: 4rem;
            width: 150px;
            margin-bottom: 2rem;
            border-bottom: solid  var(--themeColor) 1px;
            position: relative;
            transition: all 0.2s ease-out;
            animation: slideInLeft 1s ease-out;
            cursor: pointer;
            &:hover{
                left:0px !important;
                box-shadow:5px 5px 80px -10px rgba(192, 192, 192, 0.75);
            }
            
            @media screen and (max-width: $small) {
                visibility: hidden;
                opacity: 0;
            }
            @media screen and (max-width: $medium) {
                height: 50px;
                width: 120px;
                left : 0%;
                animation: fadeInUp 1s ease-out;
            }
            span {
                margin-right:1.5rem;
                margin-left: 1rem;
                font-size: 1.5rem;
                color: var(--themeTextDark);
                font-family: "Josefin Sans", sans-serif;
                pointer-events: none;
                @media screen and (max-width: $medium) {
                    font-size: 16pt;
                }
            }
        }

        .sk-flyout-visible {
            left:0 !important;
            box-shadow:5px 5px 80px -10px rgba(192, 192, 192, 0.75);
            background-color: var(--themeColor);
            span {
                color: white;
            }
            @media screen and (max-width: $small) {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    .sk-center {
        margin-left: 15%;
        margin-right: 15%;
        animation: fadeUpSbt 2s forwards;
        transition: all 0.5s ease;
        @media screen and (max-width: $medium) {
            margin-left: 50px;
            margin-right: 50px;
            width: 100vw;
        }
    }
    .sk-right {
        position: absolute;
        top: 0%;
        right: 0;
        z-index: 10;
        @media screen and (max-width: $medium) {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .sk-label {
            position: absolute;
            right: 0;
            padding: 1rem 4rem 1rem 1rem;
            min-height: 300px;
            writing-mode: vertical-rl; //rotate text without side effects
            text-transform: uppercase;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 600;
            line-height: 1.7;
            font-size: 0.8rem;
            color: var(--themeTextDark);
            opacity: 0.1;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: flex-end;
            transition: all 1s cubic-bezier(.77,0,.18,1);
            animation: fadeInRight 2s forwards;
            cursor: pointer;
            &:hover {
                color:var(--themeColor);
            }

            @media screen and (max-width: $medium) {
                position: relative;
                writing-mode: horizontal-tb;
                line-height: 1;
                font-size: 0.8rem;
                padding: 0rem 0rem 0rem 0rem;
                min-height:auto;
                width: 80vw;
                margin-bottom: 50px;
                animation: fadeInDown 2s forwards;
            }
        }

        .sk-desc {
            background-color: white;
            position: absolute;
            width: 30rem;
            min-height: 300px;
            box-shadow:14px 11px 50px -22px rgba(93,93,93,0.75);
            border-radius: 15px 0 0 15px;
            border-bottom: solid  var(--themeColor)  1px;
            text-align: left;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center;
            transition: all 0.5s ease;
            @media screen and (max-width: $medium) {
                border-radius: 10px;
                min-height: auto;
                position: absolute;
                top:50px;
                right:0;
                font-size: 0.8rem;
                margin : 0 6rem 0 3rem;
            }
            p {
                font-family: "Jost", sans-serif;
                font-weight: 300;
                margin : 2rem 6rem 2rem 2rem;
                @media screen and (max-width: $medium) {
                    font-size: 0.8rem;
                    margin : 2rem 1rem 1rem 2rem;
                }
            }

        }

        .sk-desc-hidden {
            right: -30rem;
            opacity: 0;
            filter:blur(150px);
            @media screen and (max-width: $medium) {
                right:0;
                display: hidden;
            }
        }

        .sk-desc-visible {
            right: 0;
            opacity: 1;
            @media screen and (max-width: $medium) {
                width: 25rem;
                min-height: 200px;
                display: block;
                position: absolute;
                height: auto;
                top:50px;
                right:0;
            }
        }
        .sk-desc-hint{
            right: -20rem;
            opacity: 1;
        }
    }
    
}

@keyframes fadeUpSbt {
    0% {
        opacity: 0;
        transform: translateY(45px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}