.compatibility-toggle {
  position: absolute;
  top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  text-align: center;
  font-family: "Jost", sans-serif;
  margin: 2rem;
  color: var(--themeTextDark);
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

@media screen and (max-width: 450px) {
  .compatibility-toggle {
    visibility: visible;
  }
}

.compatibility-toggle img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

.skills-container {
  height: 100vh;
  margin-top: 8%;
  position: relative;
  visibility: visible;
  overflow-x: hidden;
}

@media screen and (max-width: 450px) {
  .skills-container {
    visibility: hidden;
  }
}

@media screen and (max-width: 900px) {
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-top: 20px;
  }
}

.skills-container .sk-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-left {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.skills-container .sk-left .sk-flyout {
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 150px;
  margin-bottom: 2rem;
  border-bottom: solid var(--themeColor) 1px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-animation: slideInLeft 1s ease-out;
          animation: slideInLeft 1s ease-out;
  cursor: pointer;
}

.skills-container .sk-left .sk-flyout:hover {
  left: 0px !important;
  -webkit-box-shadow: 5px 5px 80px -10px rgba(192, 192, 192, 0.75);
          box-shadow: 5px 5px 80px -10px rgba(192, 192, 192, 0.75);
}

@media screen and (max-width: 450px) {
  .skills-container .sk-left .sk-flyout {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .skills-container .sk-left .sk-flyout {
    height: 50px;
    width: 120px;
    left: 0%;
    -webkit-animation: fadeInUp 1s ease-out;
            animation: fadeInUp 1s ease-out;
  }
}

.skills-container .sk-left .sk-flyout span {
  margin-right: 1.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--themeTextDark);
  font-family: "Josefin Sans", sans-serif;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-left .sk-flyout span {
    font-size: 16pt;
  }
}

.skills-container .sk-left .sk-flyout-visible {
  left: 0 !important;
  -webkit-box-shadow: 5px 5px 80px -10px rgba(192, 192, 192, 0.75);
          box-shadow: 5px 5px 80px -10px rgba(192, 192, 192, 0.75);
  background-color: var(--themeColor);
}

.skills-container .sk-left .sk-flyout-visible span {
  color: white;
}

@media screen and (max-width: 450px) {
  .skills-container .sk-left .sk-flyout-visible {
    visibility: hidden;
    opacity: 0;
  }
}

.skills-container .sk-center {
  margin-left: 15%;
  margin-right: 15%;
  -webkit-animation: fadeUpSbt 2s forwards;
          animation: fadeUpSbt 2s forwards;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-center {
    margin-left: 50px;
    margin-right: 50px;
    width: 100vw;
  }
}

.skills-container .sk-right {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills-container .sk-right .sk-label {
  position: absolute;
  right: 0;
  padding: 1rem 4rem 1rem 1rem;
  min-height: 300px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  line-height: 1.7;
  font-size: 0.8rem;
  color: var(--themeTextDark);
  opacity: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.18, 1);
  -webkit-animation: fadeInRight 2s forwards;
          animation: fadeInRight 2s forwards;
  cursor: pointer;
}

.skills-container .sk-right .sk-label:hover {
  color: var(--themeColor);
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right .sk-label {
    position: relative;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    line-height: 1;
    font-size: 0.8rem;
    padding: 0rem 0rem 0rem 0rem;
    min-height: auto;
    width: 80vw;
    margin-bottom: 50px;
    -webkit-animation: fadeInDown 2s forwards;
            animation: fadeInDown 2s forwards;
  }
}

.skills-container .sk-right .sk-desc {
  background-color: white;
  position: absolute;
  width: 30rem;
  min-height: 300px;
  -webkit-box-shadow: 14px 11px 50px -22px rgba(93, 93, 93, 0.75);
          box-shadow: 14px 11px 50px -22px rgba(93, 93, 93, 0.75);
  border-radius: 15px 0 0 15px;
  border-bottom: solid var(--themeColor) 1px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right .sk-desc {
    border-radius: 10px;
    min-height: auto;
    position: absolute;
    top: 50px;
    right: 0;
    font-size: 0.8rem;
    margin: 0 6rem 0 3rem;
  }
}

.skills-container .sk-right .sk-desc p {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  margin: 2rem 6rem 2rem 2rem;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right .sk-desc p {
    font-size: 0.8rem;
    margin: 2rem 1rem 1rem 2rem;
  }
}

.skills-container .sk-right .sk-desc-hidden {
  right: -30rem;
  opacity: 0;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right .sk-desc-hidden {
    right: 0;
    display: hidden;
  }
}

.skills-container .sk-right .sk-desc-visible {
  right: 0;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .skills-container .sk-right .sk-desc-visible {
    width: 25rem;
    min-height: 200px;
    display: block;
    position: absolute;
    height: auto;
    top: 50px;
    right: 0;
  }
}

.skills-container .sk-right .sk-desc-hint {
  right: -20rem;
  opacity: 1;
}

@-webkit-keyframes fadeUpSbt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeUpSbt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=skills.css.map */